body {
    margin: 0 auto;
    background-color: #b3b3b3;
}

.form {
  width: 700px;
  padding: 60px;
  margin-top: 150px;
  margin-left: 300px;
  background-color: #a29f9f;
  border-radius: 10px;
  box-shadow: 17px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  

}

.ism {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  outline: none !important;
  border-radius: 8px;
}
.ism::placeholder {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.email {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  outline: none !important;
  border-radius: 8px;
}
.email::placeholder {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.password {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  outline: none !important;
  border-radius: 8px;
}
.password::placeholder {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}








.btn {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #FCB72B;
    border: 2px solid #FCB72B;  
    transition: 1s ease all;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
}
.btn:hover {
    transform: scale(0.90);
    background-color: transparent;
    border: 2px solid #FCB72B;
  
}